#Buton {
     position: relative;
     left: 85.6875%;
     top: 30px;
 }
#firstsec {
    background-color: #1b1c1e;
    height: 270px;
    width: 100%;
    position: relative;
    top: 300px;
    border-radius: 25px;
}
#Trending {
    color: white;
    position: absolute;
    top: 270px;
    font-size: 30px;
    margin: 0px;
    border: none;
    left: 20px;
    font-family: Roboto-Black;
}
#secondsec {
    background-color: #1b1c1e;
    height: 270px;
    width: 100%;
    position: relative;
    top: 400px;
    border-radius: 25px;
}
#New {
    color: white;
    position: absolute;
    top: 645px;
    font-size: 30px;
    margin: 0px;
    border: none;
    left: 20px;
    font-family: Roboto-Black;
}
#See-1 {
    position: relative;
    color:#6441a5;
    width: 190px;
    height: 30px;
    float: right;
    top: 250px;
    font-size: 20px;
}
#See-2 {
    position: relative;
    color:#6441a5;
    width: 190px;
    height: 30px;
    float: right;
    top:345px;
    font-size:20px;
}
a, a:hover {
    text-decoration: none;
    color: #6441a5;
}
.More {
    color:#6441a5 ;
}
.More:visited{
    color: #6441a5;
}
#search-b {
    float: left;
    position: relative;
    left: 1444px;
}
.bar {
    position: relative;
    height: 25px;
    weight: 150px;
    float: left;
    left: 1445px;
}


